@import "../variables.scss";

@media (min-width: 320px) {
  .benefits {
    padding: 65px 0 200px;
    background-color: $light-grey;
    &__subtitle {
      margin: 15px 0;
      font-size: 34px;
      font-family: $playfair;
      font-weight: 400;
      line-height: 1.3;
      color: $white;
      &::after {
        content: "";
        display: block;
        margin-top: 7px;
        width: 100px;
        height: 1px;
        background-color: $gold;
      }
    }
    &__intro {
      img {
        margin: 15px 0 55px;
      }
    }
    &__description {
      font-size: 15px;
      line-height: 1.5;
      color: $white;
      &--first-spacing::first-letter {
        float: left;
        margin-top: -15px;
        margin-right: 10px;
        vertical-align: top;
        font-size: 55px;
        font-family: $playfair;
      }
    }
  }
}
