@import "../variables.scss";

@media (min-width: 320px) {
  .header {
    padding-top: 25px;
  }
  .nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .nav__list {
    display: none;
    width: 100%;
    padding: 30px 15px 12px;
    border-top: 3px solid $gold;
    background-color: $dark-grey;
  }
  .nav__item {
    padding: 15px 12px;

    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    a {
      font-size: 13px;
      font-weight: 700;
      color: $white;
      text-transform: uppercase;
    }
  }
  .nav__menu--opended {
    display: block;
    opacity: 1;
  }
  .nav__toggle {
    z-index: 10;
    width: 70px;
    height: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
  }
  @keyframes hideBurger {
    0% {
      background-color: #000;
      transform: scale(0.9);
    }
    30% {
      transform: scale(0.9);
    }
    100% {
      background-color: transparent;
    }
  }

  @keyframes openBurgerOne {
    0% {
      top: -10px;
      transform: rotate(0);
    }
    30% {
      top: 0;
      transform: rotate(0) scale(0.9);
    }
    70% {
      top: 0;
      transform: rotate(0) scale(0.9);
    }
    100% {
      top: 0;
      transform: rotate(-45deg);
    }
  }
  @keyframes openBurgerTwo {
    0% {
      top: 10px;
      transform: rotate(0);
    }
    30% {
      top: 0;
      transform: rotate(0) scale(0.9);
    }
    70% {
      top: 0;
      transform: rotate(0) scale(0.9);
    }
    100% {
      top: 0;
      transform: rotate(45deg);
    }
  }
  @keyframes closeBurgerOne {
    0% {
      top: 0;
      transform: rotate(-45deg);
    }
    30% {
      top: 0;
      transform: rotate(0) scale(1);
    }
    70% {
      top: 0;
      transform: rotate(0) scale(1);
    }
    100% {
      top: -10px;
      transform: rotate(0);
    }
  }
  @keyframes closeBurgerTwo {
    0% {
      top: 0;
      transform: rotate(45deg);
    }
    30% {
      top: 0;
      transform: rotate(0) scale(1);
    }
    70% {
      top: 0;
      transform: rotate(0) scale(1);
    }
    100% {
      top: 10px;
      transform: rotate(0);
    }
  }
  .nav__toggle-burger {
    position: absolute;
    width: 25px;
    height: 3px;
    background-color: #000;
    font-size: 0;
  }
  .nav__toggle-burger::before,
  .nav__toggle-burger::after {
    content: "";
    position: absolute;
    left: 0;
    width: 25px;
    height: 3px;
    background-color: #000;
  }
  .nav__toggle-burger::before {
    top: -10px;
  }
  .nav__toggle-burger::after {
    top: 10px;
  }
  .nav__toggle-burger--opened .nav__toggle-burger {
    animation-name: hideBurger;
    animation-fill-mode: both;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
  }
  .nav__toggle-burger--opened .nav__toggle-burger::before {
    // transform: rotate(45deg);
    // top: 5%;
    animation-name: openBurgerOne;
    animation-fill-mode: both;
    animation-duration: 1s;
  }
  .nav__toggle-burger--opened .nav__toggle-burger::after {
    // transform: rotate(-45deg);
    // top: -5%;
    animation-name: openBurgerTwo;
    animation-fill-mode: both;
    animation-duration: 1s;
  }
}
