@import "../variables.scss";
@import "../animation.scss";

@media (min-width: 320px) {
  .main-header {
    background-image: url();
  }
  .nav {
    display: flex;
    padding-top: 25px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .nav__list {
    display: none;
    width: 100%;
    padding: 10px 15px 12px;
    border-top: 3px solid $gold;
    background-color: $dark-grey;
  }
  .nav__item {
    padding: 15px 12px;

    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    a {
      font-size: 13px;
      font-weight: 700;
      color: $white;
      text-transform: uppercase;
    }
  }
  .nav__consultation {
    display: none;
  }
  .nav__menu--opened {
    display: block;
    opacity: 1;
  }
  .nav__toggle {
    z-index: 10;
    width: 70px;
    height: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }

  .nav__toggle-burger {
    position: absolute;
    width: 25px;
    height: 3px;
    background-color: #fff;
    font-size: 0;
    &:active {
      -webkit-tap-highlight-color: transparent;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: 25px;
      height: 3px;
      background-color: #fff;
    }
    &::before {
      top: -10px;
    }
    &::after {
      top: 10px;
    }
  }

  .nav__toggle-burger--opened .nav__toggle-burger {
    animation-name: hideBurger;
    animation-fill-mode: forwards;
    animation-duration: 0.7s;
    animation-timing-function: cubic-bezier(0, 0.81, 1, -0.03);
    &::before {
      animation-name: openBurgerOne;
      animation-fill-mode: forwards;
      animation-duration: 1s;
    }
    &::after {
      animation-name: openBurgerTwo;
      animation-fill-mode: forwards;
      animation-duration: 1s;
    }
  }
  .nav__toggle-burger--closed .nav__toggle-burger {
    animation-name: showBurger;
    animation-duration: 0.8s;
    animation-timing-function: cubic-bezier(0, 0.81, 1, -0.03);
    &::before {
      animation-name: closeBurgerOne;
      animation-duration: 1s;
    }
    &::after {
      animation-name: closeBurgerTwo;
      animation-duration: 1s;
    }
  }
  .main-header__slider {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -5;
    // background-color: #444;
    // background-image: url("../../img/header-img1.jpg") no-repeat;
    background-position: center;
    background-size: contain;
    background-origin: content-box;
    width: 100%;
    height: 100%;
    img {
      display: block;
      width: 100%;
      height: 70vh;
      object-fit: cover;
      object-position: 50% 70%;
    }
  }
}

@media (min-width: 768px) {
  .main-header__slider img {
    height: 58vh;
    object-position: 50% 70%;
  }
}

@media (min-width: 1200px) {
  .nav__toggle {
    display: none;
  }
  .nav__logo {
    display: block;
  }
  .nav__list {
    display: flex;
    background-color: transparent;
    border: 0;
  }
  .nav__item {
    border: 0;
  }
  .nav__consultation {
    display: inline-block;
    padding: 15px 25px;
    font-size: 13px;
    font-weight: 500;
    color: $gold;
    border: 2px solid $gold;
    cursor: pointer;
    span {
      position: relative;
      bottom: 4px;
      display: inline-block;
      margin-left: 10px;
      width: 13px;
      height: 2px;
      background-color: $gold;
      &::before,
      &::after {
        content: "";
        position: absolute;
        display: inline-block;
        width: 6px;
        height: 2px;
        background-color: $gold;
      }
      &::before {
        bottom: 2px;
        left: 7px;
        transform: rotate(45deg);
      }
      &::after {
        top: 2px;
        left: 7px;
        transform: rotate(-45deg);
      }
    }
  }
}
