@import "../variables.scss";
@import "../animation.scss";

@media (min-width: 320px) {
  .header__hero {
    width: 100%;
    overflow: hidden;

    &-img-one {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -5;
      width: 100%;
      height: 80vh;
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-position: 55% 50%;
      transition: opacity 1s;
    }
    &-img-one {
      background-image: url("../img/header-img2.jpg");
    }
    &-container {
      margin-top: 120px;
      color: $white;
      overflow: hidden;
      transform: translateX(0);
    }
    &-block {
      display: none;
      overflow: hidden;
      transition: transform 3s;
    }
    &-block--show {
      display: block;
    }
    &-title {
      display: block;
      margin: 0 auto;
      font-family: $playfair;
      font-size: 46px;
      overflow: hidden;
      transform: translateX(0);
      transition: transform 1.5s ease;
    }
    &-breadcrombs {
      display: flex;
      align-items: center;
      a {
        margin-right: 10px;
        color: rgb(223, 223, 223);
        text-transform: none;
        transition: color 0.3s;
      }
      a:hover {
        color: $white;
      }
      p {
        display: inline;
        margin-left: 10px;
        font-weight: 600;
      }
    }
    &-line {
      display: block;
      margin-top: -5px;
      width: 110px;
      height: 1px;
      border-bottom: 1px solid $white;
      transform: translateX(0);
      transition: transform 1s;
    }
    &-subtitle {
      margin-top: 10px;
      font-size: 30px;
      font-family: playfair;
      transform: translateX(0);
      transition: transform 2s ease-in-out;
    }

    &-show {
      opacity: 1;
    }
    &--transform {
      transform: translateX(-150%);
    }

    &-pages {
      display: inline;
      margin: 0 20px;
      font-size: 14px;
    }
  }
}
@media (min-width: 320px) and (max-height: 620px) {
  .header__hero {
    &-container {
      margin-top: 20px;
    }
  }
}

@media (min-width: 768px) {
  .header__hero {
    &-img-one,
    &-img-two {
      height: 70vh;
    }
    &-container {
      margin-top: 200px;
    }

    &-line {
      width: 155px;
    }
  }
}
@media (min-width: 750px) and (max-height: 620px) {
  .header__hero {
    &-container {
      margin-top: 0;
    }
  }
}
@media (min-width: 800px) and (max-height: 400px) {
  .header__hero {
    &-container {
      margin-top: 0;
    }
    &-arrows {
      display: none;
    }
  }
}

@media (min-width: 1024px) {
  .header__hero {
    &-container {
      margin-top: 250px;
    }

    &-line {
      width: 210px;
    }
  }
}
@media (min-width: 1024px) and (max-height: 768px) {
  .header__hero {
    &-container {
      margin-top: 150px;
    }
  }
}

@media (min-width: 1200px) {
  .header__hero {
    &-img-one,
    &-img-two {
      height: 96vh;
    }
    &-container {
      transform-origin: 50% 50% 0px;
      margin-top: 150px;
      &--margin {
        margin-top: 356px;
      }
    }
    &-line {
      width: 230px;
    }
  }
}
