@import "../variables.scss";

@media (min-width: 320px) {
  .price {
    padding: 50px 0;
    &__list {
      margin-top: 50px;
    }
    &__subtitle {
      font-size: 22px;
    }
    &__item-title {
      padding: 20px;
      font-size: 16px;
      text-transform: uppercase;
      border: 1px dotted #d2d2d2;
    }

    &__specialty-list {
      overflow: hidden;
      height: 0;
      opacity: 0;
      transition: 0.5s ease-in-out;
    }
    &__specialty-item {
      padding: 10px 15px;
      margin-bottom: 10px;
      border: 1px solid #d2d2d2;
      box-shadow: 0 5px 4px -1px #d2d2d2;
    }
    &__specialty-text {
      font-size: 15px;
      line-height: 1.5;
      span {
        display: block;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
      }
    }
    &__specialty-button {
      padding: 10px 20px;
      font-size: 12px;
      font-weight: 600;
      color: $white;
      background-color: $gold;
      border: none;
      outline: none;
      border-radius: 3px;
      text-transform: uppercase;
      a {
        color: $white;
      }
      &--mobile {
        display: inline;
      }
      &--laptop {
        display: none;
      }
    }
  }
  .price__item-active .price__item-title {
    border: 1px solid #d2d2d2;
    box-shadow: 0 10px 9px -1px #d2d2d2;
  }
  .price__item-active .price__specialty-list {
    height: auto;
    opacity: 1;
    transition: height 0ms 0ms, opacity 600ms 0ms;
  }
}

@media (min-width: 1024px) {
  .price__subtitle {
    font-size: 38px;
  }
  .price__specialty-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .price__specialty-text {
    display: flex;
    justify-content: space-between;
    width: 80%;
    span {
      display: inline;
      width: 30%;
      text-align: right;
    }
  }
  .price__specialty-button {
    height: 36px;
    &--mobile {
      display: none;
    }
    &--laptop {
      display: inline;
    }
  }
}

@media (min-width: 1200px) {
  .price__specialty-text {
    span {
      margin-left: 100px;
    }
  }
  .price__item-title:hover {
    cursor: pointer;
  }
}
