@import "../variables.scss";

.staff {
    background-color: #2d3436;
    background-image: linear-gradient(200deg, #363b42 0%, #1d1f24 74%);
    &__subtitle {
        color: #fff;
    }
    &__description {
        color: #fff;
    }
}

@media (min-width: 320px) {
    .staff {
        padding-top: 55px;
        padding-bottom: 120px;
        &__description {
            margin-top: 30px;
            line-height: 1.6;
        }
        &__item {
            margin-top: 35px;
            img {
                width: 100%;
            }
            p {
                margin: 0;
                padding: 25px 0; 
                background-color: #fff;
                color: $light-grey;
                font-family: $playfair;
                font-size: 24px;
                text-align: center;
            }
            span {
                font-family: "Montserrat", Tahoma, Geneva, sans-serif;
                font-size: 13px;
                font-weight: 500;
                text-transform: uppercase;
                color: $gold;
            }
        }
    }
}

@media (min-width: 768px) {
    .staff {
        padding-top: 90px;
        &__container {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
        &__description {
            margin-top: 0;
            margin-left: 50px;
            max-width: 55%;
        }
        &__list {
            display: flex;
            justify-content: space-between;
        }
        &__item {
            width: 30%;

        }
    }
}
@media (min-width: 1200px) {
  .staff {
      padding-bottom: 105px;
    &__description {
        margin-top: 45px;
        margin-left: 50px;
        max-width: 55%;
    }
  }
  }