@keyframes hideBurger {
  0% {
    background-color: #000;
  }
  30% {
    background-color: #000;
    transform: scale(0.8);
  }
  70% {
    background-color: #000;
  }
  100% {
    background-color: transparent;
  }
}
@keyframes showBurger {
  0% {
    background-color: transparent;
  }
  30% {
    background-color: transparent;
    transform: scale(0.8);
  }
  70% {
    background-color: transparent;
  }
  100% {
    background-color: #000;
  }
}

@keyframes openBurgerOne {
  0% {
    top: -10px;
    transform: rotate(0);
  }
  30% {
    top: 0;
    transform: rotate(0) scale(0.9);
  }
  70% {
    top: 0;
    transform: rotate(0) scale(0.9);
  }
  100% {
    top: 0;
    transform: rotate(-45deg);
  }
}
@keyframes openBurgerTwo {
  0% {
    top: 10px;
    transform: rotate(0);
  }
  30% {
    top: 0;
    transform: rotate(0) scale(0.9);
  }
  70% {
    top: 0;
    transform: rotate(0) scale(0.9);
  }
  100% {
    top: 0;
    transform: rotate(45deg);
  }
}
@keyframes closeBurgerOne {
  0% {
    top: 0;
    transform: rotate(-45deg);
  }
  30% {
    top: 0;
    transform: rotate(0) scale(1);
  }
  70% {
    top: 0;
    transform: rotate(0) scale(1);
  }
  100% {
    top: -8px;
    transform: rotate(0);
  }
}
@keyframes closeBurgerTwo {
  0% {
    top: 0;
    transform: rotate(45deg);
  }
  30% {
    top: 0;
    transform: rotate(0) scale(1);
  }
  70% {
    top: 0;
    transform: rotate(0) scale(1);
  }
  100% {
    top: 8px;
    transform: rotate(0);
  }
}
