@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/playfair-display/playfair-display.woff2") format("woff2"),
         url("../fonts/playfair-display/playfair-display.woff") format("woff"),
         url('../fonts/playfair-display/playfair-display.ttf') format('truetype');
 }
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/montserrat.woff2") format("woff2"),
         url("../fonts/montserrat/montserrat.woff") format("woff"),
         url('../fonts/montserrat/montserrat.ttf') format('truetype');
 }


