@import url("fonts.css");
@import url("variables.css");
@import url("settings.css");

@media (min-width: 320px) {
  .header {
    padding-top: 25px;
  }
  .header__nav {
    background-color: $dark-grey;
  }
  .header__nav-list {
    padding: 30px 15px 12px;
  }
  .header__nav-item {
    padding: 15px 12px;
  }
}
